body{
    background-color: #55bea7;
    padding: 4em 0em;
  }
  
  .container,
  .container-fluid{
    background-color: #FFF;
    border-radius: 0.4em;
    padding: 2em;
  }
  
  .container-fluid{
    margin-top: 4em;
  }